* {
  box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #29104A,#501A60);
}
.container {
    position: relative; /* Establishes a new stacking context for the SVG */
}
.graphic {
  position: absolute; /* Positions the SVG absolutely within the body */
  left: 0%; /* Aligns the SVG to the left edge */
  z-index: -1;  /*Ensures the SVG is behind other content */
}
section {
        min-height: 100vh !important;
        padding-top: 50px !important;
        justify-content: center; /* Centers horizontally */
        align-items: center;     /* Centers vertically */
        text-align: center;
        color: white;
    }

.trans-50 {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
}

.border-slim{
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.full-border-slim{
    border: 0.1px solid rgba(255, 255, 255, 0.2);
}

.main-txt{
    padding-top: 200px;
}

.custom-pill {
  background-color: #7c3aed; /* vibrant purple */
  color: white;
  border-radius: 50rem;      /* pill shape */
  padding: 0.5rem 2rem;      /* size and spacing */
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
}

.custom-pill:hover {
  background-color: #6b2fc2; /* darker on hover */
}

::placeholder {
  color: lightgray !important; /* Changes the placeholder text color to grey */
  opacity: 0.1; /* Ensures the color is applied in all browsers */
  font-weight: lighter; /* Makes the placeholder text lighter */
}

input {
  background-color: transparent !important; /* Makes the input background transparent */
  border: 0.1px solid rgba(255, 255, 255, 0.2) !important; /* Adds a thin border */
  color: white !important; /* Sets the text color to white */
}

@keyframes skewAnimation{
 0% {
    transform: rotate3d(1,2,1,30deg);
  }
  25% {
    transform: rotate3d(1,2,1,90deg);
  }
  50% {
    transform: rotate3d(1,2,1,180deg);
  }
  75% {
    transform: rotate3d(1,2,1,270deg);
  }
  100% {
    transform: rotate3d(1,2,1,300deg);
  }
}

rect {
  position:relative;
  animation: skewAnimation 10s infinite normal linear;
}
